@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

// Other imports
@import "partials/layout";
@import "partials/nav";
@import "partials/footer";

// Overrides
$base-font-family: 'Oxygen', $helvetica;
$max-width: em(700);
$base-font-size: 1em;