<footer>
  <ul class="large-column">
    <li><h5 class="heading">Recent Articles</h5></li>
    <li>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li>
            <%= link_to article.title, article %>
            <span><%= article.date.strftime('%b %e') %></span>
          </li>
        <% end %>
      </ol>
    </li>
  </ul>

  <ul class="small-column">
    <li><h5 class="heading">Tags</h5></li>
    <li>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>
    </li>
  <ul>

  <!--<ul class="small-column">-->
  <!--  <li><h5 class="heading">By Year</h5></li>-->
  <!--  <li>-->
  <!--    <ol>-->
  <!--      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>-->
  <!--        <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>-->
  <!--      <% end %>-->
  <!--    </ol>-->
  <!--  </li>-->
  <!--<ul>-->

</footer>